  @media(min-width:800px){
    #grid {
      display:none
    }
    body {
      margin:0;
    }
    h1 {
      font-size:45px;
      text-align:center;
      border-bottom:1px solid gray;
      margin:0;
      padding:20px;
    }
    #grid ol {
      border-right:1px solid gray;
      width:80px;
      margin:0;
      padding:30px;
    }
    #active {
      color:red;
    }
    .saw {
      color:gray;
    }
    #grid {
      display:grid;
      grid-template-columns: 150px 1fr;
      }
    a {
      color:black;
      text-decoration: none;
    }
